<div class="albumDetailContainer">
  <div style="display:flex">
    <h1>Title:{{selectedAlbum.name}}</h1>
    <div style="margin-left:680px;">
      <button class="greyButton" (click)="closeAlbumDetail()">X</button>
    </div>
  </div>

  <img src={{selectedAlbum.albumCoverUrl}} class="albumCover" />

  <div style="display:flex;">

    <h3 style="margin:0px;">Score:</h3>

    <div *ngIf="selectedAlbum.score>1 || selectedAlbum.score==1; else elseBlock1">
      <button class="yellowButton" (click)="onScoreClick(1);"></button>
    </div>
    <ng-template #elseBlock1>
      <button class="paleYellowButton" (click)="onScoreClick(1);"></button>
    </ng-template>

    <div *ngIf="selectedAlbum.score>2 || selectedAlbum.score==2; else elseBlock2">
      <button class="yellowButton" (click)="onScoreClick(2);"></button>
    </div>
    <ng-template #elseBlock2>
      <button class="paleYellowButton" (click)="onScoreClick(2);"></button>
    </ng-template>

    <div *ngIf="selectedAlbum.score>3 || selectedAlbum.score==3; else elseBlock3">
      <button class="yellowButton" (click)="onScoreClick(3);"></button>
    </div>
    <ng-template #elseBlock3>
      <button class="paleYellowButton" (click)="onScoreClick(3);"></button>
    </ng-template>

    <div *ngIf="selectedAlbum.score>4 || selectedAlbum.score==4; else elseBlock4">
      <button class="yellowButton" (click)="onScoreClick(4);"></button>
    </div>
    <ng-template #elseBlock4>
      <button class="paleYellowButton" (click)="onScoreClick(4);"></button>
    </ng-template>

    <div *ngIf="selectedAlbum.score>5 || selectedAlbum.score==5; else elseBlock5">
      <button class="yellowButton" (click)="onScoreClick(5);"></button>
    </div>
    <ng-template #elseBlock5>
      <button class="paleYellowButton" (click)="onScoreClick(5);"></button>
    </ng-template>

  </div>

  <button [hidden]="selectedAlbum.isBought" class="greenButton" (click)="onBuyAlbumClick()">{{selectedAlbum.numberToDisplay}}</button>
  <button [hidden]="!selectedAlbum.isBought" class="greyButton">{{selectedAlbum.numberToDisplay}}</button>

  <div class="informationContainer">
    Artist:{{selectedAlbum.artist}}
    <br/>
    Price:{{selectedAlbum.price}}
    <br/>
    Duration:{{selectedAlbum.duration}}
    <br/>
    Release Date:{{selectedAlbum.releaseDate}}
    <br/>
    Genre:{{selectedAlbum.genre}}
    <br/>
    Description:{{selectedAlbum.description}}
  </div>

  <h3>Songs</h3>
  <div>
    <table>
      <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Artista</th>
        <th>Duración</th>
        <th>Popularidad</th>
        <th>Precio</th>
      </tr>
      <app-song-list-item class="myTr" *ngFor="let song of selectedAlbum.songs" [id]="song.id"
                                                                                [name]="song.name"
                                                                                [artist]="song.artist"
                                                                                [duration]="song.duration"
                                                                                [popularity]="song.popularity"
                                                                                [price]="song.price"
                                                                                [isBought]="song.isBought"
                                                                                (sendBuySong)="receiveBuySong($event)">
      </app-song-list-item>
    </table>
  </div>

</div>
